<!-- Modal Authorized User -->
<div class="modal fade" id="mapPreviewModal" tabindex="-1" role="dialog" aria-labelledby="mapPreviewModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="mapPreviewModalContent">
      <div class="modal-header">
        <h5 class="modal-title" >Podgląd na mapie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div id="map-preview" style="max-height: 450px;">
             <div class="embed-responsive embed-responsive-16by9">
              <iframe id="individual-car-map" class="embed-responsive-item" src="/media/html_maps/map.html" allowfullscreen></iframe>
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
{#<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"#}
{#   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="#}
{#   crossorigin=""></script>#}
{##}
{#<script>#}
{#  var mymap = L.map('map-preview')#}
{#  var marker = L.marker([51.5, -0.09]).addTo(mymap);#}
{##}
{#  <!--L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {-->#}
{#      <!--maxZoom: 19,-->#}
{#      <!--attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'-->#}
{#  <!--}).addTo(mymap);-->#}
{##}
{#  L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {#}
{#      maxZoom: 19,#}
{#      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'#}
{#  }).addTo(mymap);#}
{##}
{#  function updateMarker(lat, lon)#}
{#  {#}
{#    var newLatLng = new L.LatLng(lat, lon);#}
{#    marker.setLatLng(newLatLng);#}
{#  }#}
{##}
{#  // Eventy jQuery#}
{#  $(".preview-map").click(function() {#}
{#    console.log(map_data)#}
{#    var map_data = map_latlon[this.id]#}
{#    if (map_data)#}
{#    {#}
{#      mymap.setView([map_data.lon, map_data.lat], 14);#}
{#      updateMarker(map_data.lon, map_data.lat)#}
{#    }#}
{#  });#}
{#</script>#}