<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/static/css/sticky_footer.css" rel="stylesheet">
    <!-- Path to favicon -->
    <link rel="shortcut icon" type="image/png" href="/media/favicons/favicon.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
           integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
           crossorigin=""/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <title>Automaniak</title>
  </head>
  <body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <h1 class="text-hide" style="background-image: url('/media/favicons/favicon.png'); width: 64px; height: 64px;">HOME</h1>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-center" href="/home/">Główna<span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item dropdown text-center">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Oferta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item text-center" href="/offer/">Samochody</a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-center" href="/city_map/">Mapa miasta</a>
                </div>
              </li>
              <li class="nav-item">
                  {% if user_authenticated %}
                    <a class="nav-link text-center" data-toggle="modal" data-target="#authorizedUserModal" href="#">{{ user_authenticated }}</a>
                  {% else %}
                    <a class="nav-link text-center" data-toggle="modal" data-target="#exampleModal" href="#">Użytkownik</a>
                  {% endif %}
              </li>
                <li class="nav-item">
                <a class="nav-link text-center" href="/contact/">Kontakt</a>
              </li>
            </ul>
            <form class="form-inline my-2 navbar-nav ml-auto">
              <input class="form-control mx-auto" type="search" id="search-query" placeholder="Szukaj..." aria-label="Szukaj">
              <button class="btn btn-outline-primary ml-sm-2 my-2" id="search-content-button" type="submit">Szukaj</button>
            </form>
          </div>
        </nav>
        {% if user_authenticated %}
            <!-- Modal Authorized User -->
            <div class="modal fade" id="authorizedUserModal" tabindex="-1" role="dialog" aria-labelledby="authorizedUserModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="authorizedUserModalContent">
                  <div class="modal-header">
                    <h5 class="modal-title" >Wybierz jedną z opcji:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <a type="button" class="btn btn-primary px-3 my-2 d-block" href="/user/" id="button-whishList-confirm">
                            <span class="text-center">
                                Lista wypożyczeń
                            </span>
                        </a>
                      </div>
                      <div class="form-group">
                        <a type="button" class="btn btn-primary px-3 my-2 d-block" href="#" id="button-logOut-confirm">
                            <span class="text-center">
                                Wyloguj
                            </span>
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {% include "cars/modals/map_modal.html" %}
        {% else %}
            <!-- Modal Blank User -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zaloguj sie.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>{% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputUsernameModal">Nazwa użytkownika</label>
                        <input type="text" class="form-control" id="usersNameModal" aria-describedby="usersNameModal" placeholder="Nazwa użytkownika">
                        <small id="usernameHelp" class="form-text text-muted">Podaj nazwe użytkownika zarejestrowanego konta.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPasswordModal">Hasło</label>
                        <input type="password" class="form-control" id="usersPasswordModal" placeholder="Password">
                      </div>
                    </form>
                  </div>
                    <small class="form-text text-muted text-center">Nie posiadasz konta ?<a href="/registration/"> Rejestracja</a></small>
                  <div class="modal-footer">
                    <button type="submit" id="login-button-confirm" class="btn btn-primary">Zaloguj</button>
                  </div>
                    <small class="form-text text-danger text-center" id="login-info-provider"></small>
                </div>
              </div>
            </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
            <!-- HERE GOES CONTENT OF YOUR TEMPLATED VIEWS -->
        {% endblock %}
    </main>
    <footer class="footer">
      <div class="container-fluid bg-dark">
          <div class="row no-gutters">
              <div class="col">
                  <div class="row">
                      <div class="col mx-auto">
                            <div class="row">
                                <div class="col footernapisy text-truncate text-white">
                                    <span class="fa-stack fa-lg offset-md-5 footersmall">
                                        <i class="far fa-circle fa-stack-2x footersmall" style="color: #6c757d;"></i>
                                        <i class="fas fa-phone fa-stack-1x footersmall" style="color: #007bff;"></i>
                                    </span>
                                    <span class="text-truncate" style="color: #fff;">+48 999 999 999</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-truncate text-white">
                                    <span class="fa-stack fa-lg offset-md-5 footersmall" style="color: #007bff;">
                                        <i class="far fa-circle fa-stack-2x footersmall" style="color: #6c757d;"></i>
                                        <i class="fas fa-map-marker-alt fa-stack-1x footersmall"></i>
                                    </span>
                                    <span class="text-truncate" style="color: #fff;">Prószkowska 76, Opole, Polska</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-truncate text-white">
                                    <span class="fa-stack fa-lg offset-md-5 footersmall" style="color: #007bff;">
                                        <i class="far fa-circle fa-stack-2x footersmall" style="color: #6c757d;"></i>
                                        <i class="far fa-envelope fa-stack-1x footersmall"></i>
                                    </span>
                                    <a class="text-truncate" href="mailto:przykladowy@email.com" style="color: #fff;">Napisz do nas</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-truncate text-white">
                                    <span class="fa-stack fa-lg offset-md-5 footersmall" style="color: #007bff;">
                                        <i class="far fa-circle fa-stack-2x footersmall" style="color: #6c757d;"></i>
                                        <i class="fas fa-at fa-stack-1x footersmall"></i>
                                    </span>
                                    <span style="color: #fff;">Cars Renting Industry</span>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
    <!-- Custom JS and jQuery scripts -->
      <script>
        var page = window.location.href.split("/");

        if (page[page.length - 2] !== 'offer') {
            $('#search-content-button').prop("class", "btn btn-primary ml-sm-2 my-2");
            $('#search-content-button').prop("disabled", true);
        }


        $('#message').click(function () {
            $('#message_text').text("Dziękujemy za powiadomienie o problemie.");
            $(this).prop("class", "btn btn-primary btn-lg text-center mx-auto disabled");
        });

        function fixFooterPosition() {
            var activator_height = $(window).height();
            var body_height = $('body').height();

            if (activator_height > body_height) {
                $('footer').prop('class', 'footer fixed-bottom')
            }
            else {
                $('footer').prop('class', 'footer')
            }
        }

        function rollUpCategories() {
            var activator = $(window).width();

            if (activator >= 753) {
                var categories_list = $('#navbarToggleExternalContent');

                if (categories_list) {
                    categories_list.prop('class', 'collapse show');
                }

                if (activator >= 1370 || activator < 753) {
                    $('.fetcher').prop('class', 'nav-link text-center visible fetcher');
                }
            }
            if (activator < 753) {
                    $('.fetcher').prop('class', 'nav-link text-center visible fetcher');
                }

            fixFooterPosition();

        }

        //funkcja przesylająca dane do z formularza do  backendu
        $('#registration-confirmation').click(function (e) {
            e.preventDefault();

            var login = validateField("#usersName", validateLogin);
            var email = validateField("#usersEmailAddress", validateEmail);
            var password = validateField("#usersPassword", validatePassword);
            var validated_password = validateField("#usersPasswordValidation", validatePassword)
            console.log(login, email, password, validated_password);

            var user_data = {
                'nick': login,
                'password': password,
                'email': email
            };

            if (user_data.nick == null || user_data.password == null || user_data.email == null ) {
                $('#usersName').val("");
                $('#usersName').addClass('is-invalid');
                $('#usersPassword').val("");
                $('#usersPassword').addClass('is-invalid');
                $('#usersPasswordValidation').val("");
                $('#usersPasswordValidation').addClass('is-invalid');
                $('#usersEmailAddress').val("");
                $('#usersEmailAddress').addClass('is-invalid');

                alert('Pola zostały wypełnione niepoprawnie, prosimy o ponowne wypełnienie formularza.');
            }
            else if (user_data.password !== validated_password) {
                $('#usersPassword').val("");
                $('#usersPassword').addClass('is-invalid');
                $('#usersPasswordValidation').val("");
                $('#usersPasswordValidation').addClass('is-invalid');
                alert('Hasła nie są tożsame sprawdź pisownię.');
            }
            else {
                var validation = validateIfUserExists(user_data);

                if (validation) {
                    $.ajax({
                    url: '/ajax/registration/',
                    type: "POST",
                    data: {
                        'nick': user_data.nick,
                        'password': user_data.password,
                        'email': user_data.email,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.process_result === 0) {
                            alert(data.process_message);
                            $('#usersName').val("");
                            $('#usersPassword').val("");
                            $('#usersPasswordValidation').val("");
                            $('#usersEmailAddress').val("");

                            window.location.href = "/offer/";
                        }
                        else {
                            alert(data.process_message);
                            $('#usersName').val("");
                            $('#usersPassword').val("");
                            $('#usersPasswordValidation').val("");
                            $('#usersEmailAddress').val("");
                        }
                    }
                })
              }
            }

        });

        // funkcja zarządzająca logowaniem użytkownika
        $('#login-button-confirm').click(function (e) {
            e.preventDefault();

            var user_credentials = {
                'nick': $('#usersNameModal').val(),
                'password': $('#usersPasswordModal').val()
            };

            $.ajax({
                    url: '/ajax/user_auth_redirection/',
                    type: "POST",
                    data: {
                        'username': user_credentials.nick,
                        'password': user_credentials.password,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {

                        if (data.message_fail){
                            $('#login-info-provider').prop('class', 'form-text text-danger text-center my-3');
                            $('#login-info-provider').text(data.message_fail);
                        }
                        else {
                            $('#exampleModal').modal('hide');
                            setTimeout(function () {
                                var url_arr = window.location.href.split("/");
                                alert(data.message_success);
                                if (url_arr[url_arr.length - 2] == "registration")
                                    window.location.href = "/offer/";
                                else
                                    location.reload();
                            }, 1000);
                        }
                    }
                })
        });

        // funckja odpowiadająca za narysowanie i wygerowanie mapy
        $('.js-individual-map').click(function () {
            var city = 'Opole',
                car_id = this.id.split("-")[this.id.split("-").length - 1];

            $.ajax({
                url: '/ajax/individual_car_map/',
                data: {
                    'city': city,
                    'car_id': car_id
                },
                success: function (data) {
                    $('#individual-car-map').prop('src', '' + data.map_path);
                }

            }).fail(function() {
                alert( "error" );
            });
        });

        // funkcja zarzad
        $('#button-logOut-confirm').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/ajax/logout/',
                success: function (data) {
                    $('#authorizedUserModal').modal('hide');
                    setTimeout(function () {
                        alert(data.message_logout);
                        $(location).attr('href', '/offer/');
                    }, 750);
                }

            })

        });

        $('#search-content-button').click(function (e) {
            e.preventDefault();
            $('.items-fetcher-products').fadeOut(550);

            var search_query = $('#search-query').val();

            $('.items-fetcher-products').each(function () {
                var text = $(this).find('p.product-name-clasifier').text();
                var price = $(this).find('p.product-price-clasifier').text();
                var bought_counter = $(this).find('p.product-bought-clasifier').text();

                if (text.indexOf(search_query) >= 0) {
                    $(this).fadeIn(750);
                    setTimeout(function () {
                        fixFooterPosition();
                    }, 350);
                }
                else if (price.indexOf(search_query) >= 0) {
                    $(this).fadeIn(750);
                    setTimeout(function () {
                        fixFooterPosition();
                    }, 350);
                }
                else if (bought_counter.indexOf(search_query) >= 0) {
                    $(this).fadeIn(750);
                    setTimeout(function () {
                        fixFooterPosition();
                    }, 350);
                }
                else {
                    console.log($('body').height());
                    setTimeout(function () {
                        fixFooterPosition();
                    }, 580);
                    console.log($('body').height());
                }
            })
        })

        function validateLogin(login) {
            var re = /^[A-Za-z0-9_.]{3,32}$/;
            return re.test(login);
        }

        function validateEmail(email) {
           var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
           return re.test(email);
        }

        function validateName(name) {
           var re = /^[A-ZŹĆŻĄŁÓa-zźćżąćłó ]{2,32}$/;
           return re.test(name);
        }

       function validatePassword(password) {
           var re = /^.{4,64}$/;
           return re.test(password);
       }

       function validateField(id, validator) {
           var ref = $(id);
           var value = ref.val();

           if (!validator(value)) {
               ref.removeClass('is-valid');
               ref.addClass('is-invalid');
               return null;

           } else {
               ref.removeClass('is-invalid');
               ref.addClass('is-valid');
           }

           return value;
       }

       function validateIfUserExists(user_data) {
           var result = false

           $.ajax({
                    url: '/ajax/check_users_credentials/',
                    type: "POST",
                    async: false,
                    data: {
                        'nick': user_data.nick,
                        'email': user_data.email,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.valid == '1') {
                            result = true
                        }
                        else if (data.valid == '0') {
                            console.log(data.message_dt);
                            alert(data.message_dt);
                            $('#usersName').val("");
                            $('#usersPassword').val("");
                            $('#usersPasswordValidation').val("");
                            $('#usersEmailAddress').val("");
                            result = false
                        }
                    }
                });

            return result
       }

    </script>
    {% block scripts %}
            <!-- HERE GOES CONTENT OF YOUR TEMPLATED VIEWS -->
    {% endblock %}
  </body>
</html>