{% extends 'cars/base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron my-3" style="box-shadow: 10px 10px 15px grey;">
            <h2 class="text-center my-1">Mapa Opola</h2>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="/media/html_maps/map.html" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
{% endblock %}