{% extends 'cars/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col my-2">
                       <h2 class="text-center">CARS RENTING INDUSTRY</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-4 my-5">
                        <div class="jumbotron">
                            <h2 class="text-left mb-4">Dane Kontaktowe</h2>
                            <p><b>Kraj:</b> Polska</p>
                            <p><b>Miasto:</b> Opole</p>
                            <p><b>Kod pocztowy:</b> 00-000</p>
                            <p><b>Telefon komórkowy:</b> 999-999-999</p>
                            <p><b>Telefon stacjonarny:</b> 111-111-111</p>
                            <p><b>fax:</b> 000-000-000</p>
                        </div>
                    </div>
                    <div class="col-12 offset-md-2 col-md-5 my-5">
                        <h3 class="sm-text-center">Sprawdź gdzie można nas znaleźć.</h3>
                        <div id="map-preview-contact" style="max-height: 450px;">
                             <div class="embed-responsive embed-responsive-16by9">
                              <iframe id="individual-car-map-contact" class="embed-responsive-item" src="/media/html_maps/map_contact.html" allowfullscreen></iframe>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}