{% extends 'cars/base.html' %}

{% block content %}

    {% if not cars %}
        </br>
        <div class="container" >
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                      <h1 class="display-3 text-center">Brak danych ...</h1>
                      <p class="lead text-center">Powiadom administratora strony o problemach wciskając poniższy przycisk.</p>
                      <hr class="my-4">
                        <section class="row">
                            <div class="mx-auto">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Powiadom o błędzie</a>
                                </br></br>
                                <a class="btn btn-primary btn-lg" href="#" role="button">MENU GŁÓWNE</a>
                                </br>
                                <p id="hidden-message"></p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        </br>

    {% else %}

        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-12 col-sm-12" id="products-container">
                    <div class="row no-gutters offset-md-1 offset-lg-0 content-category-container">
                        {% csrf_token %}
                        {% for car in cars %}
                            <div class="col my-3 mx-4 bg-dark rounded text-white items-fetcher-products" id="product-{{ car.id }}" style="min-width: 242px; box-shadow: 10px 10px 15px grey;">
                                <img src="{{ car.image }}" alt="..." class="rounded my-4 mx-auto d-block" style="max-width: 238px;">
                                <div class="container">
                                    <p class="text-center text-truncate product-name-clasifier">{{ car.name }}</p>
                                </div>
                                <p class="text-center">Miasto: {{ car.city.name }}</p>
                                <p class="text-center product-price-clasifier text-truncate mx-2 js-description">Opis: {{ car.description }}</p>
                                {% if car.status %}
                                    {% if user_authenticated and car_not_reserved %}
                                        <a class="btn btn-secondary btn-small my-3 mx-auto d-block item-provider preview-map js-individual-map" id="map-{{ car.id }}" data-toggle="modal" data-target="#mapPreviewModal" style="max-width: 230px;">Pokaż na mapie</a>
                                        <a class="btn btn-primary btn-small my-3 mx-auto d-block item-provider reservation-car" id="reservation-{{ car.id }}" style="max-width: 230px;">Zarezerwuj</a>
                                    {% else %}
                                        <a class="btn btn-secondary btn-small my-3 mx-auto d-block item-provider preview-map js-individual-map disabled" id="map-{{ car.id }}" data-toggle="modal" data-target="#mapPreviewModal" style="max-width: 230px;">Pokaż na mapie</a>
                                        <a class="btn btn-primary btn-small my-3 mx-auto d-block item-provider disabled" style="max-width: 230px;">Zarezerwuj</a>
                                    {% endif %}
                                {% else %}
                                    <a class="btn btn-primary btn-small my-3 mx-auto d-block disabled" href="#" style="max-width: 230px;">Niedostępny</a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="descriptionCarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitleCar" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitleCar">Opis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <span id="descriptionBodyCoreText">Treść opisu</span>
              </div>
            </div>
          </div>
        </div>

    {% endif %}

        <script>
            var map_latlon = {}
            var cars_id = {}

        {% for car in cars %}
            map_latlon["map-{{ car.id }}"] = {lat: {{ car.lat }}, lon: {{ car.lon }}}
            cars_id["reservation-{{ car.id }}"] = {{ car.id }};
        {% endfor %}

        // Rezerwacja auta xD
        $(".reservation-car").click(function() {
            var car_id = cars_id[this.id]
            if (car_id)
            {
                $.ajax({
                    url: '/ajax/reservation/',
                    type: "POST",
                    data: {
                        'car_id': car_id,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.taken) {
                            alert("Niestety samochód jest już wypożyczony.");
                            location.reload();
                        }
                        else {
                            window.location.href = "/user/"
                        }
                    }
                });
            }
        });

        // pokazywanie modala z opisem auta
        $('.js-description').click(function () {
            var description = $(this).text().split(":")[1];

            $('#descriptionCarModal').modal('show');
            $('#descriptionBodyCoreText').text("" + description);
        })
    </script>

    {#{% include "cars/modals/map_modal.html" %}#}

{% endblock %}