{% extends 'cars/base.html' %}

{% block content %}
    <div class="container h-100">

        <div class="jumbotron h-50 my-5">
            <h2 class="text-left mb-4 text-center">FROMULARZ REJESTRACJI</h2>
            <small class="form-text text-muted text-center my-2">Konto użytkownika pozwola na tworzenie listy wypożyczeń przechowującej wybrane przez Ciebie pojazdy oraz historię wypożyczeń.</small>
            <form>{% csrf_token %}
              <div class="form-group">
                <label for="usersName">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="usersName" aria-describedby="userName" placeholder="Nazwa użytkownika">
                <small id="usersNameHelp" class="form-text text-info">Wybierz nazwę użytkownika (3-32 litery i liczby).</small>
              </div>
              <div class="form-group">
                <label for="usersEmailAddress">Adres email</label>
                <input type="email" class="form-control" id="usersEmailAddress" aria-describedby="email" placeholder="Adres email">
                <small id="emailHelp" class="form-text text-info">Podaj adres email ( przykladowy@adres.com ).</small>
              </div>
              <div class="form-group">
                <label for="usersPassword">Hasło</label>
                <input type="password" class="form-control" id="usersPassword" placeholder="Hasło">
              </div>
              <div class="form-group">
                <label for="usersPasswordValidation">Potwierdź hasało</label>
                <input type="password" class="form-control" id="usersPasswordValidation" placeholder="Potwierdź hasało">
                  <small id="password-info" class="form-text text-info text-left my-2">Wpisane przez Ciebie hasła muszą być identyczne. (4-64 dowolnych znaków)</small>
              </div>

              <button type="submit" id="registration-confirmation" class="btn btn-lg btn-primary mt-3 mx-auto d-block">Zarejestruj</button>
          </form>
        </div>

    </div>
    
{% endblock %}