{% extends 'cars/base.html' %}
{% load static %}

{% block scripts %}

<script src="{% static "js/user.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        {% csrf_token %}
        <div class="jumbotron my-5 bg-light">
            <div class="alert alert-danger text-center" role="alert">
                <h3>UWAGA Kliencie!</h3>
                Maksymalna ilośc wypożyczonych aut to 1 dla każdego użytkownika.
                Maksymalny czas wypożyczenia wynosu 7 dni! Za każdą przedłużoną godzinę opłata wynosi 200 zł.
            </div>

            {% if rentings_active %}
            <h2 class="text-center my-3">Aktywne wypożyczenia:</h2>
            <ul class="list-group">
                {% for renting in rentings_active %}
                    <li class="list-group-item">
                        <b>Marka:</b> {{ renting.auto }}<br/>
                        <b>Data wypożyczenia:</b> {{ renting.lending_timestamp }}</br>
                        <b>Data zwrotu:</b> {{ renting.returning_timestamp }}</br>
                        <b>Naliczona kwota:</b> {{ renting.payment }} zł</br>
                        {% if renting.penalty > 0 %}
                        <div class="alert alert-danger text-center" role="alert">
                            <b>Kara za opóźnione oddanie samochodu:</b> {{ renting.penalty }} zł
                        </div>
                        {% endif %}

                        <button id="finish-{{ renting.id }}" class="btn btn-primary rent-finish">Zakończ</button>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if rentings_unactive %}
            <h2 class="text-center my-3">Historia wypożyczeń:</h2>
            <ul class="list-group">
                {% for renting in rentings_unactive %}
                    <li class="list-group-item">
                        <b>Marka:</b> {{ renting.auto }}<br/>
                        <b>Data wypożyczenia:</b> {{ renting.lending_timestamp }}</br>
                        <b>Data zwrotu:</b> {{ renting.returning_timestamp }}</br>
                        <b>Rzeczywista data zwrotu:</b> {{ renting.real_returning_timestamp }}</br>
                        <b>Zapłacono:</b> {{ renting.paid }} zł
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
    
{% endblock %}